.allDataParent{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
}

.indivBike{
    /* border: 1px solid rgb(173, 168, 168); */
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(245,245,245);
}

.indivBike > h3{
    margin-top: 20px;
    font-weight: bold;
}

.indivBike > h2{
    font-size: 16px;
    font-weight: bold;
}

.indivBike > img{
    text-decoration: 1px solid gray underline;
}

.indivBike > button{
    width: 100%;
    background-color: rgb(254,200,38);
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.sortsDiv{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: 1px solid gray underline;
    margin-top: 30px;
}

.sortsDiv p:nth-child(1){
    margin-left: 2.5%;
}

.sortsDiv p:nth-child(2),
.sortsDiv p:nth-child(3),
.sortsDiv p:nth-child(4){
    margin-left: 6%;
    cursor: pointer;
}

.sortsDiv p:nth-child(2):hover{text-decoration: 1px solid rgb(254,200,38) underline;}
.sortsDiv p:nth-child(3):hover{text-decoration: 1px solid rgb(254,200,38) underline;}
.sortsDiv p:nth-child(4):hover{text-decoration: 1px solid rgb(254,200,38) underline;}


.timeAndDateDiv{
    /* border: 1px solid black; */
    width: 76%;
    margin: auto;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.timeAndDateDiv > h2{
    font-weight: bold;
    font-size: 22px;
    line-height: normal;
    color: rgb(254,200,38);
    margin-top: 10px;
}

.timeAndDateDiv > h3{
    font-size: 18px;
}