.date__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 2px;
    font-size: 15px;
   
    text-align: left;
   
}
.date__time  input{
    border:0;
    outline: none;
    border-bottom: 1px solid black;
    width:90%;
}
.bikes__filter__page
{
    border:1px solid grey;
    text-align: left;
    padding: 10px;
    /* height:30vh; */
}
.apply_filter_btn
{
    background-color:#fed250 ;
    width:80%;
    height: 5vh;
    border-radius: 3px;
    border: 0;
    outline: none;
}
.text__part{
    text-align: left;
    padding:2vh;
}