.date__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 2px;
    font-size: 15px;
   
    text-align: left;
   
}
.date__time  input{
    border:0;
    outline: none;
    border-bottom: 1px solid black;
}
.bikes__filter__page
{
    border:1px solid grey;
    text-align: left;
    padding: 10px;
    height:30vh;
    overflow-y: scroll;
}
